<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head") %>

<body>
	
    <!-- Header -->
	<% if (locals.user != undefined) {%>
        <%- include("./partials/headerLogueado") %>
    <% } else { %>
        <%-include("./partials/header") %>
    <% } %>
<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
            <form class="formulario" action="/users/login" method="post">
                <label class="form-label" for="email">Email</label><br>
                <input class="form-input" type="email" id="email" name="email" value="<%= locals.old !== undefined && old.email ? old.email: "" %>"><br>
                <% if (locals.errors && errors.email) { %>
					<p class = "feedback"><%= errors.email.msg %></p>
					<% } %>
                
                <label class="form-label" for="password">Contraseña</label><br>
                <input class="form-input" type="password" name="password" id="password" value="<%= locals.old !== undefined && old.password ? old.password: ""%>"><br>
                <% if (locals.errors && errors.password) { %>
					<p class = "feedback"><%= errors.password.msg %></p>
					<% } %>

                <div class="div-recordar">
                    <label class="formulario-label" for="remember">Recordarme</label><br>
                    <input class="recordar" type="checkbox" id="remember" name="remember">

                
                </div>
                
                <button type="submit">Iniciar Sesion </button>
                
            </form>
        </div>
    </div>

            <%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>