<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<% if (locals.user != undefined) {%>
		<%- include("./partials/headerLogueado") %>
	<% } else { %>
		<%-include("./partials/header") %>
	<% } %>
<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= productos.nombreProducto %></h2> 
			<% if (condition) {%>
				<p class="product-detail-description">
					<form action="/product/edit" method="post">
						<input type="hidden" name="id" value="<%= productos.id%>">
						<button class="btn-special btn-red" type="submit"><a>Editar</a></button>
					</form>
					<a> </a>
					<form action="/product/delete" method="post">
						<input type="hidden" name="id" value="<%= productos.id%>">
						<input type="hidden" name="idUsuario" value="<%= productos.usuario.id %>">
						<button class="btn-special btn-red" type="submit"><a>Eliminar</a></button>
					</form>
				</p>
			<%} %>
			
		</div>
		<%if (!condition) { %>
				<p class="user">Dueño: <a  href="/users/profile/id/<%= productos.usuario.id%>">@<%= productos.usuario.usuario%></a></p>

		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img class="product-detail-img" src=<%= productos.imagenProducto %> >
					<p class="product-detail-description"><%= productos.descripcionProducto %></p>
				</article>
				
				
    		 	<div class="col-12 col-lg-4">
            		<section class="comments">
                		<% for(let index = 0; index < .comentarios.length; index++) {%>
							<article>
								<img src=<%= comentarios[index].nombre.fotoperfil %> alt="">
								<div class="info">
									<p class="usuario"> <strong> <a href="/users/profile/id%<%=comentarios[index].usuario.id%>"><%= comentarios[index].usuario.usuario%></a></strong>
										<%=	comentarios[index].comentario%>
									</p>
								</div>
							</article>
                		<%}%>
        			</section>
					<% if (locals.user != undefined) { %>
						<form class="form" action="/product/id/<%= productos.id %>" method="post">
						<input class="form-input" name="comentario" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<% if (locals.errors && locals.errors.comentario) { %>
						<p> <%= locals.errors.comentario.msg %> </p> <br>
					<% } %>
					<% } else { %>
						<div class="deslogueado">
							<a href="/users/login">Para poder agregar un comentario, debes iniciar sesion.</a>
						</div>
					<% } %>
					
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<%- include("./partials/footer") %>


</body>	
</html>