<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head") %>

<body>

	<!-- Header -->
	<% if (locals.user != undefined) {%>
			<%- include("./partials/headerLogueado") %>
		<% } else { %>
			<%-include("./partials/header") %>
		<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"></h2>
            <form class="formulario" action="/product/add" method="post">
				<input type="hidden" name="usuarioId" value="<%= locals.user.id %>">
                <label class="form-label" for="imagen">Imagen del Producto</label><br>
                <input class="form-input" type="file" id="imagen" name="imagen" value="<%= (locals.old && locals.old.imagen != undefined) ? locals.old.imagen : (usuario & usuario.imagen) %>" required><br>

				<% if (locals.errors && locals.errors.imagen) { %>
					<p><% locals.errors.imagenProducto.msg %></p>
				<% } %>

                <label class="form-label" for="nombre">Nombre del Producto</label><br>
                <input class="form-input" type="text" id="nombre" name="nombre" value="<%= (locals.old && locals.old.nombre != undefined) ? locals.old.nombre : (usuario & usuario.nombre) %>" required><br>

				<% if (locals.errors && locals.errors.nombre) { %>
					<p><% locals.errors.nombreProducto.msg %></p>
				<% } %>

                <label class="form-label" for="descripcion">Descripción del Producto</label><br>
                <textarea class="form-input" type="text" id="descripcion" name="descripcion" value="<%= locals.old !== undefined && old.descripcion ? old.descripcion: ""%>" </textarea>" <br>

				<% if (locals.errors && locals.errors.descripcion) { %>
					<p><% locals.errors.descripcionProducto.msg %></p>
				<% } %>

                <button class="buy-now-button" type="submit">Agregar Producto</button>
            </form>
        </div>
    </div>
    <%- include("./partials/footer") %>
	
</body>

</html>