<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<% if (locals.user != undefined) {%>
		<%- include("./partials/headerLogueado") %>
	<% } else { %>
		<%-include("./partials/header") %>
	<% } %>
<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form class="formulario formulario-register" action="/users/profile" method="get">
				<label class="form-label" for="email">Email</label> <br> 
				<input class="form-input" type="email" id="email" name="email" value="" placeholder="ejemplo@gmail.com" required><br>
				<% if (locals.errors && errors.email) { %>
					<p class = "feedback"><%= errors.email.msg %></p>
					<% } %>

				<label class="form-label" for="usuario">Usuario</label> <br>
				<input class="form-input" type="text" name="usuario" id="usuario" value="" placeholder="ejemplo" required><br>
				<% if (locals.errors && errors.usuario) { %>
					<p class = "feedback"><%= errors.usuario %></p>
					<% } %>

				<label class="form-label" for="password">Ingrese su nueva contraseña</label><br>
				<input class="form-input" type="text" id="password" name="password" placeholder="contraseña" ><br>
				<% if (locals.errors && errors.password) { %>
					<p class = "feedback"><%= errors.password %></p>
					<% } %>

				<label class="form-label" for="birthdate">Fecha de nacimiento</label><br>
				<input class="form-input" type="date" name="birthdate" value="" required><br>
				<% if (locals.errors && errors.birthdate) { %>
					<p class = "feedback"><%= errors.birthdate %></p>
					<% } %>

				<label class="form-label" for="document_number">Numero de documento</label><br>
				<input class="form-input" type="number" id="documento" name="documento" value="" placeholder="12345678">
				<% if (locals.errors && errors.document_number) { %>
					<p class = "feedback"><%= errors.documento %></p>
					<% } %>

				<label class="form-label" for="profile_picture">Foto de perfil</label><br>
				<input class="form-input" type="file" id="fotodeperfil" name="fotodeperfil"> <br>
				<% if (locals.errors && errors.fotodeperfil) { %>
					<p class = "feedback"><%= errors.fotodeperfil %></p>
					<% } %>

				<a class="buy-now-button" href="/users/login">Guardar</a>
			</form> 
        </div>
    </div>

	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>