<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<% if (locals.user != undefined) {%>
        <%- include("./partials/headerLogueado") %>
    <% } else { %>
        <%-include("./partials/header") %>
    <% } %>
<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
        </div>
    </div>
    <div class="container products-wrapper">
        <div class="row">
			<!-- Show the "ultimos" products -->
			<% if (productos && productos.length > 0) {
                for(let index = 0; index < 8; index++) {%>
                <div class="col-12 col-sm-6 col-lg-3">
                    <section class="product-box">
                        <a href="/product/id/<%= productos[index].id %>">
                            <figure class="product-box_image">
                                <img class="foto-del-index" src= "<%=productos[index].imagenProducto%>">
                            </figure>
                            <article class="product-box_data">
                                <h2><%= productos[index].nombreProducto %></h2>
                                <p><%= productos[index].descripcionProducto %></p>
                                <p>Comentarios: <%= productos[index].comentario %></p>
                                <p> Dueño: <a href="/users/profile/id<%= productos[index].usuario.nombre%>"><%= productos[index].usuario.nombre%> </a></p>
                            </article>
                        </a>
                    </section>
                </div>
                <% }
            } else { %>
                <h2>No se encuentra un producto que coincida con tu busqueda.</h2>
            <%}%>
        </div>
    </div>


	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>